/*this is the new comment format - Cascading style sheets--  we get synatx propery:value; */
  /* outline: 1px solid red; */
  
body {
  margin: 0;
  
}

Main {
  background-color: #b15cdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.card {
  width: 400px;
  background-color: #f0f2e9;
  padding: 32px;
  border-radius: 10px;
  text-align: center;
  
}

h1 {
  color: BLack; 
  font-size: 32px; 
  font-family: 'Lato', sans-serif;
  margin: 8px;
 
}
.description {
  color: #ed7207;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-top: 8px;
}

img {
  /* width: 50px; */
  height: 150px;
  border-radius: 99px;
   
}

a {
  margin: 8px;
}

.divisionsContainer {
   padding: 10px;
  margin: 10px;
  text-align: center;
}

.divisions {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  transition: all 2s ease-out 1s;
}

.divisions:hover {
  transform: scale(1.1);
  color: green;
}

h2 {
  color: black; 
  font-size: 32px; 
  font-family: 'Lato', sans-serif;
  margin: 8px;
  text-shadow: 2px 2px 1px orange;
}

.divisionRow {
  display: flex;
  flex-direction: row;

}